player-connection-mode=Connect
player-connection-guid=2911355311
player-connection-debug=1
player-connection-project-name=MirrorMirrorUnity
player-connection-wait-timeout=-1
player-connection-ip=10.20.166.254
profiler-enable=1
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
wait-for-managed-debugger=0
managed-debugger-fixed-port=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=66cfd03fcad34cecabbf1cd44dc632df
